
form {
	padding: 8px 12px;
}

.container-fluid {
    padding: 80px 120px;
}

.bg-warning{
	border-radius: 5px;
}

#div-form{
	border-radius: 10px;
	border-style: solid;
    border-width: 5px;
    border-color: white;
}

#div-note {
	padding: 8px 12px;
}